<nlg-business-card [metas]="metas"></nlg-business-card>

<div class="hex animation"></div>

<!-- Hexagon - Fill Comb before/after -->
<div>
  <div class="hex-row-clear"></div>
  
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  
  <div class="hex-row-clear"></div>
  
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  
  <div class="hex-row-clear"></div>
  
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  
  <div class="hex-row-clear"></div>
  
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex"></div>
  <div class="hex-row-clear"></div>
</div>
