<div class="container" >

  <div style="position: absolute; transform: rotateZ(0deg) translateX(66px) skew(30deg); width: 44px; height: 75px; border: 1px solid red; float:right; ">b1</div>
  <div style="position: absolute; transform: rotateZ(60deg)  translateX(66px) skew(30deg); width: 44px; height: 75px; border: 1px solid red; float:right;">b2</div>
  <div style="position: absolute; transform: rotateZ(120deg) translateX(66px) skew(30deg); width: 44px; height: 75px; border: 1px solid red; float:right;  ">b3</div>
  <div style="position: absolute; transform: rotateZ(180deg) translateX(66px) skew(30deg); width: 44px; height: 75px; border: 1px solid red; float:right;  ">b4</div>
  <div style="position: absolute; transform: rotateZ(240deg) translateX(66px) skew(30deg); width: 44px; height: 75px; border: 1px solid red; float:right; ">b5</div>
  <div style="position: absolute; transform: rotateZ(300deg) translateX(66px) skew(30deg); width: 44px; height: 75px; border: 1px solid red; float:right; ">b6</div>

</div>

<hr style="clear: both; margin-top: 100px;">


<div class="container">

  <div style="position: absolute; transform: rotateZ(0deg)  skew(30deg); width: 54px; height: 44px; border: 1px solid blue; float:right;  ">b1</div>
  <div style="position: absolute; transform: rotateZ(60deg) skew(30deg); width: 54px; height: 44px; border: 1px solid yellow; float:right;  ">b2</div>
  <div style="position: absolute; transform: rotateZ(0deg)  skew(-30deg); width: 54px; height: 44px; border: 1px solid green; float:right; ">b3</div>
</div>

<hr style="clear: both; margin-top: 100px;">

<div class="container">

  <div class="side a1">a1</div>
  <div class="side a2">a2</div>
  <div class="side a3">a3</div>
  <div class="side a4">a4</div>
  <div class="side a5">a5</div>
  <div class="side a6">a6</div>
</div>

<hr style="clear: both; margin-top: 100px;">

<div class="container">

  <div style="position: absolute; transform: rotateZ(0deg)   translateX(90px); width: 44px; height: 75px; border: 1px solid red; float:right; border-bottom: none; border-right: none;">b1</div>
  <div style="position: absolute; transform: rotateZ(60deg)  translateX(90px);  width: 44px; height: 75px; border: 1px solid red; float:right;border-bottom: none; border-right: none;">b2</div>
  <div style="position: absolute; transform: rotateZ(120deg) translateX(90px);  width: 44px; height: 75px; border: 1px solid red; float:right;  border-bottom: none; border-right: none;">b3</div>
  <div style="position: absolute; transform: rotateZ(180deg) translateX(90px); width: 44px; height: 75px; border: 1px solid red; float:right; border-bottom: none; border-right: none; ">b4</div>
  <div style="position: absolute; transform: rotateZ(240deg) translateX(90px) ; width: 44px; height: 75px; border: 1px solid red; float:right; border-bottom: none; border-right: none;">b5</div>
  <div style="position: absolute; transform: rotateZ(300deg) translateX(90px); width: 44px; height: 75px; border: 1px solid red; float:right; border-bottom: none; border-right: none;">b6</div>

</div>