
.side {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.container {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    border: 1px dotted gray;
    position: relative;
    animation: spin 30s alternate infinite;
}

.a1 {
    transform: rotateZ(0deg) skewX(30deg) ;
    border-bottom: none;
    border-right: none;
}

.a1:hover {
    border-left: none;
}

.a2 {
    transform: rotateZ(60deg) skewX(30deg) ;
    border-bottom: none;
    border-right: none;
}

.a3 {
    transform: rotateZ(120deg) skewX(30deg) ;
    border-bottom: none;
    border-right: none;
}

.a4 {
    transform: rotateZ(180deg) skewX(30deg);
    border-bottom: none;
    border-right: none;
}

.a5 {
    transform: rotateZ(240deg) skewX(30deg);
    border-bottom: none;
    border-right: none;
}

.a6 {
    transform: rotateZ(300deg) skewX(30deg);
    border-bottom: none;
    border-right: none;
}
