
<div class="config-inputs">

    <section class="example-section">

        <form class="example-form">

            <mat-form-field class="full-width"
            [color]="color" >

                <input #input matInput placeholder="Recursive" autocomplete="off" />

            </mat-form-field>

            <div class="example-selected-value">Value: {{input.value}}</div>

        </form>

    </section>

    <mat-divider></mat-divider>

    <section class="example-section">

        <mat-button-toggle-group name="fs_options" #group="matButtonToggleGroup"
        [disabled]="disabled">

            <mat-button-toggle value="file">File</mat-button-toggle>
            <mat-button-toggle value="files">Files</mat-button-toggle>
            <mat-button-toggle value="dir">Dir</mat-button-toggle>
            <mat-button-toggle value="dirs">Dirs</mat-button-toggle>

        </mat-button-toggle-group>

        <div class="example-selected-value">Value: {{group.value}}</div>

    </section>

    <mat-divider></mat-divider>

    <section class="example-section">

        <mat-checkbox class="example-margin"
        [(ngModel)]="multiple"
        [(indeterminate)]="indeterminate"
        [labelPosition]="labelPosition"
        [color]="color"
        [disabled]="disabled">
            Multiple
        </mat-checkbox>

        <div class="example-selected-value">Selected value: {{multiple}}</div>

    </section>

    <mat-divider></mat-divider>

    <section class="example-section">

        <mat-slider max="1" min="0" step="0.01" thumbLabel="true" [(ngModel)]="range" [disabled]="disabled"></mat-slider>

        <div class="example-selected-value">Value: {{range}}</div>

    </section>

    <mat-divider></mat-divider>

    <section class="example-section">

        <mat-slide-toggle class="example-margin"
        [(ngModel)]="disabled"
        [color]="color">
            Disabled
        </mat-slide-toggle>

        <div class="example-selected-value">Value: {{disabled}}</div>

    </section>

    <mat-divider></mat-divider>

    <section class="example-section">

        <label class="example-margin">Color:</label>

        <mat-radio-group
        [(ngModel)]="color"
        [color]="color"
        [disabled]="disabled">

            <mat-radio-button value="primary">Primary</mat-radio-button>
            <mat-radio-button value="accent">Accent</mat-radio-button>
            <mat-radio-button value="warn">Warn</mat-radio-button>

        </mat-radio-group>

        <div class="example-selected-value">Value: {{color}}</div>

    </section>

</div>
