<mat-tab-group>

  <mat-tab label="0.0">
    <ng-template matTabContent>
      <div style="display: flex; flex-flow: row; justify-content: center;" [title]="meter.value">
        Under Development <br/>
        <meter #meter max="100" min="0" low="25" high="75" value="8"></meter>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="0.1">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.2">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.3">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.4">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.5">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.6">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.7">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.8">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="0.9">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="1.0">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

</mat-tab-group>
