<mat-tab-group>

  <mat-tab label="Uni-Code">
    <ng-template matTabContent>
      <nlg-hex-uni-code></nlg-hex-uni-code>
    </ng-template>
  </mat-tab>

  <mat-tab label="Border Arrow >">
    <ng-template matTabContent>
      <nlg-hex-border-arrow></nlg-hex-border-arrow>
    </ng-template>
  </mat-tab>

  <mat-tab label="> Img">
    <ng-template matTabContent>
      <nlg-hex-border-arrow-img></nlg-hex-border-arrow-img>
    </ng-template>
  </mat-tab>

  <mat-tab label="Rotate >">
    <ng-template matTabContent>
      <nlg-hex-rotate></nlg-hex-rotate>
    </ng-template>
  </mat-tab>

  <mat-tab label="> Img">
    <ng-template matTabContent>
      <nlg-hex-rotate-img></nlg-hex-rotate-img>
    </ng-template>
  </mat-tab>

  <mat-tab label="SVG">
    <ng-template matTabContent>
      <nlg-hex-svg></nlg-hex-svg>
    </ng-template>
  </mat-tab>

  <mat-tab label="Gradient">
    <ng-template matTabContent>
      <nlg-hex-gradient></nlg-hex-gradient>
    </ng-template>
  </mat-tab>

  <mat-tab label="Inside">
    <ng-template matTabContent>
      <nlg-hex-transform></nlg-hex-transform>
    </ng-template>
  </mat-tab>

  <mat-tab label="Spin">
    <ng-template matTabContent>
      <nlg-hex-spin></nlg-hex-spin>
    </ng-template>
  </mat-tab>

  <mat-tab label="Skew">
    <ng-template matTabContent>
      <nlg-hex-scewed></nlg-hex-scewed>
    </ng-template>
  </mat-tab>

</mat-tab-group>
