<nlg-business-card [metas]="metas"></nlg-business-card>

<div class="parallax-wrapper">
  <div class="parallax one">
    <p>
      Mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla
      pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus nunc.
    </p>
  </div>
  <div class="parallax two">
    <p>
      Mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla
      pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus
      vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula
      nunc.
    </p>
  </div>
  <div class="parallax three">
    <p>
      Congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros
      arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod, orci enim
      vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit orci sit amet sem venenatis nec
      lobortis sem suscipit nullam nec imperdiet velit mauris eu nisi a felis imperdiet porta at ac nulla vivamus
      faucibus felis nec dolor pretium eget pellentesque dolor suscipit maecenas vitae enim arcu, at tincidunt
      nunc.
    </p>
  </div>
  <div class="parallax blank">
    <div class="blank-helper">
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.Error illum eveniet quidem, voluptas incidunt
      repellendus!
      Laborum, modi aliquid cum libero alias ullam sequi magnam labore est suscipit ex expedita vel minima harum qui
      nesciunt. Alias, nostrum aspernatur! Animi voluptatibus deleniti eaque atque quas expedita doloremque!
      Quibusdam minima, voluptatum aliquid non molestiae excepturi qui atque fugiat numquam autem ab doloremque
      voluptas!
    </p>
  </div>
  <div class="parallax four">
    <p>
      Mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla
      pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus
      vulputate leo, eget consequat neque quam id tellus duis ultricies
    </p>
  </div>
  <div class="parallax last">
    <p>
      Mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla
      pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus
      vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula
      arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod, orci enim
      nunc.
    </p>
  </div>
</div>
