

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: 50% 0 no-repeat fixed;
  background-size: cover;
  /*IE Scroll Bug Fix*/
  /* background-attachment: fixed !important;*/
  color: black;
  text-shadow: 1px 0px 1px rgba($color: #333, $alpha: .8);
  overflow: hidden;
}

.one {
  background-image: url('/assets/img/ethereum-4.jpg');
}

.two {
  background-image: url('/assets/img/ethereum-37.jpg');
}

.three {
  background-image: url('/assets/img/ethereum-39.jpg');
}

.four {
  background-image: url('/assets/img/ethereum-blur.jpg');
}

.blank {
  background-image: linear-gradient(#333, transparent, #222);
}

.blank-helper {
  height: 100%;
  margin: 0 auto;
  background: 50% 0% no-repeat fixed;
  background-image: url('/assets/img/ethereum-icon-md.png');
  background-size: contain;
  overflow: hidden;
}

.parallax p {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 45%;
  padding: 6px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

.last {
  background-image: url('/assets/img/ethereum-sharp.jpg');
}

.plast {
  position: relative;
  width: 68%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

.blank p {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 45%;
  padding: 6px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba($color: #333, $alpha: .8);
}
