canvas  {
  background-image: radial-gradient( ellipse farthest-corner, rgba(5, 40, 70, 1) 0%, #000 100%);
  display: block;
  width: 100%;
  height: 100vh;
  // background-image: radial-gradient(ellipse farthest-corner, rgba(41, 145, 145, 0.699), #000);
}