<div class="hex-unicode-card">

  <div class="hex-unicode">
    <span class="hex-code">&<span>#x2B21;</span></span>
    <span> &#x2B21; </span>
  </div>
  <div class="hex-unicode">
    <span class="hex-code">&<span>#x2394;</span></span>
    <span> &#x2394; </span>
  </div>
  <div class="hex-unicode">
    <span class="hex-code">&<span>#x2B22;</span></span>
    <span> &#x2B22; </span>
  </div>
  <div class="hex-unicode">
    <span class="hex-code">&<span>#x2B23;</span></span>
    <span> &#x2B23; </span>
  </div>

</div>
