<div class="inside-hex">
  <div class="ih-top-l ih-top "></div>
  <div class="ih-top-r ih-top"></div>
  <div class="ih-bottom-l ih-bottom "></div>
  <div class="ih-bottom-r ih-bottom "></div>
</div>
<div class="inside-hex">
  <div class="ih-top-l ih-top "></div>
  <div class="ih-top-r ih-top"></div>
  <div class="ih-bottom-l ih-bottom"></div>
  <div class="ih-bottom-r ih-bottom"></div>
</div>
<div class="inside-hex">
  <div class="ih-top-r ih-top"></div>
  <div class="ih-top-l ih-top "></div>
  <div class="ih-bottom-r ih-bottom "></div>
  <div class="ih-bottom-l ih-bottom "></div>
</div>

<div class="ih-row-clear"></div>

<div class="inside-hex">
  <div class="ih-top-r ih-top"></div>
  <div class="ih-top-l ih-top "></div>
  <div class="ih-bottom-r ih-bottom "></div>
  <div class="ih-bottom-l ih-bottom "></div>
</div>
<div class="inside-hex">
  <div class="ih-top-r ih-top"></div>
  <div class="ih-top-l ih-top "></div>
  <div class="ih-bottom-r ih-bottom "></div>
  <div class="ih-bottom-l ih-bottom "></div>
</div>
