
  
  <!-- 
  <h1>Card 3 - slide flip two ways</h1>
  
    <section class="container">
      <div id="card">
        <figure class="front">1</figure>
        <figure class="back">2</figure>
      </div>
    </section>
  
    <section id="options">
      <p>
        <button id="h-flip">Flip Card Horizontal</button>
        <button id="v-flip">Flip Card Vertical</button>
      </p>
    </section>
  
    <script src="../js/utils.js"></script>
    <script>
      var init = function() {
        var card = document.getElementById('card'),
            flipIt = function(event) {
              var className = event.target.id + 'ped';
              card.toggleClassName( className );
            };
  
        document.getElementById('h-flip').addEventListener( 'click', flipIt, false);
        document.getElementById('v-flip').addEventListener( 'click', flipIt, false);
      };
  
      window.addEventListener('DOMContentLoaded', init, false);
    </script>
  
   -->