$stroke: #0aa5;
$fill: #222;
$trans: transparent;

.gradient-hexagon {
    width: auto;
    background: radial-gradient(circle farthest-side at 0% 50%, $fill 23.5%, $trans 0) 21px 30px,
                radial-gradient(circle farthest-side at 0% 50%, $stroke 24%, $trans 0) 19px 30px,
                linear-gradient($fill 14%, $trans 0, $trans 85%, $fill 0) 0 0,
                linear-gradient(150deg, $fill 24%, $stroke 0, $stroke 26%, $trans 0, $trans 74%, $stroke 0, $stroke 76%, $fill 0) 0 0,
                linear-gradient(30deg, $fill 24%, $stroke 0, $stroke 26%, $trans 0, $trans 74%, $stroke 0, $stroke 76%, $fill 0) 0 0,
                linear-gradient(90deg, $stroke 2%, $fill 0, $fill 98%, $stroke 0%) 0 0 $fill;
    background-size: 40px 60px;
}

.glas {
    background-color: $trans;
    background-image: none;
}
