<svg width="128" height="128" viewBox="0 0 128 128" fill="#6c6">
  <polygon points="64 68.79135039718581 
                   8.574 99.98980118617347
                   63.306092671927566
                   67.5890265806673
                   64 3.989801186173463
                   64.69390732807244
                   67.5890265806673
                   119.426 99.98980118617347">
  </polygon>
</svg>

<svg width="128" height="128" viewBox="0 0 128 128" fill="#6c6">
  <polygon points="64 128
                   8.574 96
                   8.574 32
                   64 0
                   119.426 32
                   119.426 96">
  </polygon>
</svg>

<hr style="clear: both; border-color: teal; margin-right: 8px;">

<!-- SVG -->
<svg width='0' height='0'>
  <defs>
    <linearGradient id='bggrad'>
      <stop offset='0%' stop-color='#333' />
      <stop offset='80%' stop-color='#3339' />
    </linearGradient>
    <linearGradient id='brdgrad'>
      <stop offset='15%' stop-color='#010' />
      <stop offset='100%' stop-color='#6c6' />
    </linearGradient>
  </defs>
</svg>

<div class='hex gradient-border'>
  <svg viewBox='0 0 100 100' preserveAspectRatio="none">
    <path d='M25,7 L75,7 93,50 75,93 25,93 7,50z' vector-effect='non-scaling-stroke' />
  </svg>
  <span>No</span>
</div>

<div class='hex gradient-bg'>
  <svg viewBox='0 0 100 100' preserveAspectRatio='none'>
    <path d='M25,7 L75,7 93,50 75,93 25,93 7,50z' vector-effect='non-scaling-stroke' />
  </svg>
  <span>Logig</span>
</div>

<div class='hex gradient-bg'>
  <svg viewBox='0 0 100 100' preserveAspectRatio='none'>
    <path d='M25,7 L75,7 93,50 75,93 25,93 7,50z' vector-effect='non-scaling-stroke' />
  </svg>
  <span>NoLogig Hexagons </span>
</div>

<hr style="clear: both; border-color: teal; margin-right: 8px;">

<!-- SVG Honeycombs  -->

<svg width="0" height="0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1">
  <defs>
    <clipPath id="hexagonal-mask">
      <polygon points="50 0, 95 25, 95 75, 50 100, 5 75, 5 25" />
    </clipPath>
  </defs>
</svg>

<ul class="honeycomb">
  <li>
    <svg width="100" height="100" viewBox="0 0 100 100">
      <a href="#something" target="_blank">
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
          xlink:href="https://www.html5rocks.com/en/tutorials/speed/img-compression/len_std.jpg" />
      </a>
    </svg>
  </li>
  <li>
    <svg width="100" height="100" viewBox="0 0 100 100">
      <a href="#something">
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
          xlink:href="https://www.html5rocks.com/en/tutorials/speed/img-compression/len_std.jpg" />
      </a>
    </svg>
  </li>
  <li>
    <svg width="100" height="100" viewBox="0 0 100 100">
      <a href="#something">
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
          xlink:href="https://www.html5rocks.com/en/tutorials/speed/img-compression/len_std.jpg" />
      </a>
    </svg>
  </li>
  <li>
    <svg width="100" height="100" viewBox="0 0 100 100">
      <a href="#something">
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
          xlink:href="https://www.html5rocks.com/en/tutorials/speed/img-compression/len_std.jpg" />
      </a>
    </svg>
  </li>
  <li>
    <svg width="100" height="100" viewBox="0 0 100 100">
      <a href="#something">
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
          xlink:href="https://www.html5rocks.com/en/tutorials/speed/img-compression/len_std.jpg" />
      </a>
    </svg>
  </li>
  <li>
    <svg width="100" height="100" viewBox="0 0 100 100">
      <a href="#something">
        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%"
          xlink:href="https://www.html5rocks.com/en/tutorials/speed/img-compression/len_std.jpg" />
      </a>
    </svg>
  </li>
</ul>
