
/* SVG */

.hex {
    position: relative;
    height: 100px;
    min-width: 100px;
    padding: 12px 24px;
    margin: 4px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.hex.gradient-bg {
    color: white;
}

.hex.gradient-border {
    color: white;
}

.hex svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

path {
    stroke: url(#brdgrad);
    stroke-width: 7;
    /* border width */
}

.hex.gradient-bg path {
    fill: url(#bggrad);
}

.hex.gradient-border path {
    fill: #3337;
}

span {
    display: block;
    margin-top: 50px;
    padding: 8px;
    transform: translateY(-50%);
}


/* Honeycomb */

.svg-template {
    position: absolute;
}

.honeycomb {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 325px;
    height: 250px;
    border: 1px solid #ddd7;
    overflow: hidden;
}

.honeycomb li {
    margin: 0;
    padding: 0;
    position: absolute;
}

.honeycomb li:nth-child(1) {
    top: 0;
    left: 0;
}

.honeycomb li:nth-child(2) {
    top: 0;
    left: 90px;
}

.honeycomb li:nth-child(3) {
    top: 0;
    left: 180px;
}

.honeycomb li:nth-child(4) {
    top: 75px;
    left: 45px;
}

.honeycomb li:nth-child(5) {
    top: 75px;
    left: 225px;
}

.honeycomb li:nth-child(6) {
    top: 150px;
    left: 90px;
}

.honeycomb li a {
    cursor: pointer;
}

.honeycomb li a:hover image {
    opacity: 0.5;
}
