<div class="tw"></div>

<div class="media-container">


  <mat-card class="player-container">

    <mat-card-header>
      <mat-card-title>
        <span>{{media.current.media.name ? media.current.media.name : 'NLG Player'}}</span>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!media.current.media.name">
        Fall asleep during a film & awakened by extremely loud sounds.
        
        Music & sound effects in movies & series are often much incredibly loud & the voices too quiet or dialogues are mumbled.
        The reason is a high dynamic range. To make the sound sound more realistic,
        many directors decide to mix their sounds dynamically - after all,
        an explosion is very loud even in real life, voices much quieter in comparison.
        
        But even when awake, volume jumps are annoying.
        The music drowned out & makes watching movies, series & broadcasts as a torture! 
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="player-wrapper">

      <form class="configuration">

        <!-- File Reader -->
        <input type="file" (change)="selectList = selectLocalMedias(fred.files);" #fred multiple hidden />
        <button mat-raised-button color="primary" (click)="fred.click();">Select</button>

        <!-- Playlist - Add -->
        <mat-form-field class="playlist-name">
          <input #plname matInput placeholder="Playlist Name" [disabled]="selectList[0] ? false : true" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="select2Paylist(plname.value); plname.value = ''"
          [disabled]="selectList[0] && plname.value !== '' ? false : true">
          Add²List</button>

        <!-- SelectList - Play Random -->
        <button mat-raised-button color="primary" (click)="playRnd();" [disabled]="selectList[0] ? false : true">Play
          Rnd</button>

        <!-- Audio Proccesor - Connect -->
        <button mat-raised-button color="primary" #con
          (click)="initAudioContextDecibelMeter(); startDecibelMeter(meter); con.disabled = true; rangeDecibel = 1;">Enable
          Decibel Ranger</button>

      </form>

      <mat-divider></mat-divider>

      <div class="decibel-wrapper">

        <mat-slider class="decibel-slider" max="1" min="0" step="0.01" thumbLabel="true" [(ngModel)]="rangeDecibel"
          title="Decibel range"></mat-slider>
        <div #meter class="decibel-meter"></div>

      </div>

      <!-- Video Player -->
      <video #player [controls]="media.controls" [poster]="media.poster"></video>

    </mat-card-content>

  </mat-card>


</div>

<mat-tab-group ng-trans class="slist">

  <mat-tab label="Selection">
    <ng-template matTabContent>

      <!-- Selection List -->
      <mat-card>
        <!--   
          <mat-card-header>
            <mat-card-title>
  
              <span>SelectList</span>
  
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
  
              <mat-menu #menu xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
  
            </mat-card-title>
          </mat-card-header> -->

        <!-- <mat-card-content> -->

        <!-- <mat-divider></mat-divider> -->

        <mat-action-list>
          <mat-list-item *ngFor="let item of selectList, let index = index" color="primary"
            (click)="videoPlayer.src = item.url;  media.current.media = item; media.current.index = index">
            {{item.name}}
          </mat-list-item>
        </mat-action-list>

        <!-- </mat-card-content> -->

      </mat-card>

    </ng-template>
  </mat-tab>

  <mat-tab label="Playlist">
    <ng-template matTabContent>

      <!-- Playlist -->
      <mat-card class="playl">

        <!-- <mat-card-header class="playlh">
            <mat-card-title>
  
              <div>PlayLists</div>
  
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
  
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
  
            </mat-card-title>
          </mat-card-header> -->

        <!-- <mat-card-content class="dashboard-card-content"> -->

        <!-- <mat-divider></mat-divider> -->

        <mat-action-list class="playlist">
          <mat-list-item mat-button *ngFor="let item of playList" color="warn" (click)="selectList = item.files">
            {{item.name}}
          </mat-list-item>
        </mat-action-list>

        <!-- </mat-card-content> -->

      </mat-card>

    </ng-template>
  </mat-tab>

</mat-tab-group>
