.golden-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.golden-card {
    width: 74vw;
    height: 45.7vw;
    margin: 0 auto;
}

mat-card {
    background-color: transparent;
}

.golden-calc-wrapper {
    position: fixed;
    bottom: 8px;
    left: 32px;
    width: 68vw;
}

.golden-calc-input {
    width: 96px;
    margin-right: 8px;
}
