<nlg-business-card [metas]="metas"></nlg-business-card>

<div class="container">

  <div class="hex rotate">1 <br> &nbsp; .2 <br> &nbsp; .3</div>
  <div class="hex rotate">2 <br> &nbsp; .2 <br> &nbsp; .3</div>
  <div class="hex rotate">3 <br> &nbsp; .2 <br> &nbsp; .3</div>
  <div class="hex rotate">4 <br> &nbsp; .2 <br> &nbsp; .3</div>
  <div class="hex rotate">5 <br> &nbsp; .2 <br> &nbsp; .3</div>
  <div class="hex rotate">6 <br> &nbsp; .2 <br> &nbsp; .3</div>

</div>

<hr style="clear: both; margin-top: 100px;">

<div class="container" >


    <div class="hex skew">1 <br> &nbsp; .2 <br> &nbsp; .3</div>
    <div class="hex skew">2 <br> &nbsp; .2 <br> &nbsp; .3</div>
    <div class="hex skew">3 <br> &nbsp; .2 <br> &nbsp; .3</div>
    <div class="hex skew">4 <br> &nbsp; .2 <br> &nbsp; .3</div>
    <div class="hex skew">5 <br> &nbsp; .2 <br> &nbsp; .3</div>
    <div class="hex skew">6 <br> &nbsp; .2 <br> &nbsp; .3</div>
</div>

<hr style="clear: both; margin-top: 100px;">

<div class="container">

  <div class="side h1">1</div>
  <div class="side h2">2</div>
  <div class="side h3">3</div>
  <div class="side h4">4</div>
  <div class="side h5">5</div>
  <div class="side h6">6</div>
</div>
