<mat-tab-group>

  <mat-tab label="Sacks Spiral">
    <ng-template matTabContent>
      <nlg-spiral-sacks></nlg-spiral-sacks>
    </ng-template>
  </mat-tab>

  <mat-tab label="Ulam Spiral">
    <ng-template matTabContent>
        <nlg-spiral-ulam></nlg-spiral-ulam>
    </ng-template>
  </mat-tab>

  <mat-tab label="Sierpinki">
    <ng-template matTabContent>
      <nlg-triangle-sierpinski></nlg-triangle-sierpinski>
    </ng-template>
  </mat-tab>

  <mat-tab label="Sphere">
      <ng-template matTabContent>
        <nlg-sphere></nlg-sphere>
      </ng-template>
    </mat-tab>
    
  <mat-tab label="Eratosthenes Sieve">
    <ng-template matTabContent>
      <nlg-sieve-eratosthenes></nlg-sieve-eratosthenes>
    </ng-template>
  </mat-tab>

  <mat-tab label="Atkin Sieve">
    <ng-template matTabContent>
      <nlg-sieve-atkin></nlg-sieve-atkin>
    </ng-template>
  </mat-tab>

  <mat-tab label="Euler">
    <ng-template matTabContent>
      <nlg-euclid-euler></nlg-euclid-euler>
    </ng-template>
  </mat-tab>

  <mat-tab label="Factorial">
    <ng-template matTabContent>
      <nlg-factorial></nlg-factorial>
    </ng-template>
  </mat-tab>

  <mat-tab label="Fibonacci">
    <ng-template matTabContent>
      <nlg-fibonacci></nlg-fibonacci>
    </ng-template>
  </mat-tab>

  <mat-tab label="Pythagoras">
    <ng-template matTabContent>
      <nlg-pythagoras></nlg-pythagoras>
    </ng-template>
  </mat-tab>

</mat-tab-group>
